<br>
<div class="tekstike2b">
<div class="tekstike">
Töö infosisendiga
<div class="infoasukoht">
  <div class="korrigeerimine">
    <alainfo7-component></alainfo7-component>
  </div>
</div>
  <!--div class="kastiasukoht">
    <div class="tekstimuutus">
    <alasisend4></alasisend4>
    </div>
  </div-->
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Käesoleva ülesande raames tuleks kõigepealt muuta alljärgneva sisendilahtri tegevust.  Lahtrisse saab sisestada numbrit (teksit see vastu ei võta). Lahtri kõrvale kuvatakse sisestatud number ja selle kahekordne korrutis. Nüüd oleks vaja, et kahega korrutamine oleks asendatud kolmega korrutamisega.
  
</div>
</div>

<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Selle saavutamiseks tuleb failis "alasisend1.component.ts" real 17 kahega korrutamine asendada kolmega korrutamisega, vastav tekst tuleb muuta failis "alasisend1.component.html" real 8 (sõna "kahega" asendada sõnaga "kolmega")
  
</div>
</div>

<br>

<alasisend1></alasisend1>

<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Infosisendit saab süsteemile anda ka muul viisil, näiteks liuguri abil, nagu toodud alljärgnevalt. Alljärgneval joonisel on näha, et liuguri lähteväärtus on 100 ning seda on võimalik liigutada (saada sisendina väärtust) skaalal 0-200. Liuguri all on kuvatud ka väärtus, kuidas programm on selle endale sisse lugenud, ehk siis kattub liuguri väärtusega (kui mingile hetkel ei kattu, siis võib liuguri ringil korra klikata, et süsteem aru saaks). Nüüd tuleks liugur teha ümber nii, et väärtused oleksid vahemikus 50-170.  Selleks tuleb failis "alasisend3.component.ts" real 21 asendada väärtus 0 väärtusega 50 ja real 22 väärtus 200 väärtusega 170.
  
</div>
</div>

<br>
<alasisend3></alasisend3>

<br>
<div>
<div class="tekstike2b">
  <div class="tekstike2">
  Sisendit võib anda ka graafiliselt. Teksti all paikneb sinine kast. Seda kasti saab hiirega liigutada, kui see liigub muude elementide peale, siis see kast paistab läbi. Sellise lahendusega on võimalik kasutajalt korjata infot (lasta paigutada elemente õigetesse kohtadesse, elementide liikumise alt lugeda infot nagu liuguri alt), ehk siis teha info andmine võimalikult mugavaks ja intuitiivseks.  Nüüd tuleks muuta kasti värvi, selleks tuleb failis "alasisend4.component.ts" reale 14 "#0000FF" asemel kirjutada "#FF5733". Ühtlasi tuleks vähendada kasti läbipaistvust, selleks tuleb sama faili samal real 0.5 muuta 0.7-ks.
  
</div>
</div>
<br>
<alasisend4></alasisend4>
</div>
<br><br>