<br>
<div class="tekstike2b">
<div class="tekstike">
Töö tabeli muutmisel
<div class="infoasukoht">
  <div class="korrigeerimine">
    <alainfo2-component></alainfo2-component>
  </div>
  </div>
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Allpool on kujutatud tabel. Nüüd tuleks tabelist kustutada üks rida, selleks tuleb näiteks failist "alatabel.component.html" kustutada kood ridadelt 17-21. Tulba kustutamiseks tuleb muuta igat "reakomponenti", samas failis koodi vaadates on see suhteliselt lihtsalt leitav loogika.

</div>
</div>

<alatabel-component></alatabel-component>


<div class="tekstike2b">
  <div class="tekstike2">
  Tabelis tuleks ära vahetada päise värv, selleks tuleks minna faili "alatabel.component.scss" ja selle faili realt 82 vahetada ära värvi kood. Värvikoodi peale minnes peaks masin pakkuma graafilist lahendust koodi vahetamiseks, kuid koodi võib ka sisse kirjutada tekstina.

</div>
</div>

<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Kui kõik ülaltoodud tehtud, siis tuleks minna edasi ülesandega 3, ehk siis vajutada nuppu "Ülesanne 3".
</div>
</div>