<br>
<div class="tekstike2b">
<div class="tekstike">
Töö teksti muutmisega
<div class="infoasukoht">
  <div class="korrigeerimine">
    <alainfo1-component></alainfo1-component>
  </div>
  </div>
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Siinkohal tuleks muuta teksti laiust, kuidas tekst kuvatakse. Tuleb minna faili "alaleht1.component.scss" ja real 26 muuta number 200 numbriks 400. See on teksti laius ja peale muutust kuvab tekst laiemalt. "scss" laiendiga faili kirjutatakse stiilid (ka "css" faili - natuke vanem variant).
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike3">
  Siinkohal tuleks muuta teksti tugevust, kuidas tekst kuvatakse. Tuleb minna faili "alaleht1.component.scss" ja real 47 muuta number 400 numbriks 700. Tulemuseks on "bold", arusaadavalt on olemas mitmeid variante "boldi" saavutamiseks.
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike4">
  Tekstil on ümber raam. Tekstile tuleks natuke hingamisruumi anda, selleks on vaja failis "alaleht1.component.scss" real 72  "0px" asemele kirjutada "20px". Muuta tuleks raami nurkasid, selleks on vaja real 70 "5px" asemele kirjutada "30px". Muuta tuleks raami värvust, selleks on real 69 "blue" asemele vaja kirjutada "#079f09". Muuta tuleks raami paksust, selleks on real 69 "2px" asemele vaja kirjutada "12px".
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike3">
  Kui kõik ülaltoodud tehtud, siis tuleks minna edasi ülesandega 2, ehk siis vajutada nuppu "Ülesanne 2".
</div>
</div>

<br><br><br>



<!---div class="container" > 
  <h1> This is the about component </h1>
  <h3> Click on Home for instructions </h3>
</div--->
