<br>
<div class="tekstike2b">
<div class="tekstike">
Töö infonupuga
<div class="infoasukoht">
  <div class="korrigeerimine">
    <alainfo6-component></alainfo6-component>
  </div>
</div>
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Käesoleva ülesande raames tuleks luua oma infonupp, seesama, mis on kuvatud käesolevale leheküljele. Infonupp on programmilises mõttes tegelikult loodud, kuid sinna tuleks panna oma individuaalne sisu.
  
</div>
</div>

<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Selle saavutamiseks tuleks failis "alainfo6.component.ts" real 18 kirjutada individuaalne sisu.
  
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Infonuppe ei tohiks alahinnata, need aitavad kasutajat suunata ning lisavad leheküljele elulist interaktiivsust.
  
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Kui kõik ülaltoodud tehtud, siis tuleks minna edasi ülesandega 7, ehk siis vajutada nuppu "Ülesanne 7".
</div>
</div> 
<br><br>
<br>
<br>