<br>
<div class="tekstike2b">
<div class="tekstike">
Töö graafikuga
<div class="infoasukoht">
  <div class="korrigeerimine">
    <alainfo5-component></alainfo5-component>
  </div>
</div>
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Allpool on toodud graafik/joonis/pilt (heal joonistusel mitu nime). Mida graafik täpselt kujutab, see ei ole hetkel väga tähtis, oluline on see, et seda saab muuta. Failis "alagraafik.component.ts" tuleb real 26 sõna "Vedajad1" asendada sõnaga "Minu veofirma" ja real 33 sõna "Kaubagrupp1" asendada sõnaga "Minu kaubad". Graafiku peal liikudes on näha, kuidas vastav info ka kuvatakse. Ülevalt saab näitajaid ka välja lülitada.
  
</div>
</div>
<br>

<alagraafik></alagraafik>

<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Nüüd tuleks failis "alagraafik.component.ts" real 51 number 0.6 asendada numbriga 6, siis on võimalik näha, kuidas pool graafikut oma mõõtkava ümber mängib.
  
</div>
</div>

<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Kui kõik ülaltoodud tehtud, siis tuleks minna edasi ülesandega 6, ehk siis vajutada nuppu "Ülesanne 6".
</div>
</div> 
<br><br>