
<br>
<div class="tekstike2b">
<div class="tekstike">
Tutvumine Angulariga - Äpi tegemine

<div class="infoasukoht">
<div class="korrigeerimine">
  <alainfo-component></alainfo-component>
</div>
</div>
</div>
</div>

<br>

<div class="tekstike2b">
  <div class="tekstike2">
  Siin on kirjas juhtnöörid, mida teha. Menüüst tuleb valida ülesanne, soovitavalt ülesannete järjekorras. Avaneb ülesande lehekülg, kus on kirjas, mida on vaja teha. Kuna tegemist on sissejuhatusega informaatikasse, siis on ülesanded lihtsad ja täpsete juhtnööridega - vaja vaid lugeda ja järgi teha. Eesmärk ei ole kontrollida informaatika oskuseid, eesmärk on anda võimalus proovida, kuidas Angular töötab ja milline on üks (üha populaarsemaks muutuv viis) omaenda äpi tegemiseks.
  </div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Kõigepeal tuleks minna ja otsida üles fail "app.component.html" (vaskul ääres paiknevast failimenüüst). Siis seal failis tuleks asendada sõna "Nimi" oma nimega - midagi muud ei peaks puutuma. Oluline on salvestada, nupp vasakul üleval.
  </div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Ülal on toodud ka infonupp, sellel vajutades on võimalik näha täiendavaid kommentaare. Infonupu alt avaneva kastikese saab sulgeda hiirega ristikesele vajutades.
  </div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Kui ülaltoodu tehtud, siis tuleks menüüs vajutada nuppu "Ülesanne 1" ja suunduda esimese ülesande juurde.
  </div>
</div>

<!---div class="tekstike2 tekstike2a">
  Siin on kirjas juhtnöörid, mida teha. Menüüst tuleb valida ülesanne, soovitavalt ülesannete järjekorras. Avaneb ülesande lehekülg, kus on kirjas, mida on vaja teha. Kuna tegemist on sissejuhatusega informaatikasse, siis on ülesanded lihtsad ja täpsete juhtnööridega - vaja vaid lugeda ja järgi teha. Eesmärk ei ole kontrollida informaatika oskuseid, eesmärk on anda võimalus proovida, kuidas Angular töötab ja milline on üks (üha populaarsemaks muutuv viis) omaenda äpi tegemiseks.
</div-->

<br>
<br>


<br>
<br>

