<br>
<div class="tekstike2b">
<div class="tekstike">
Töö nuppudega
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Allpool on toodud kaks nuppu. Kui vajutada rohelist nuppu, siis suunatakse ülesande 2 juurde ja kui vajutada sinist nuppu, siis suunatakse ülesande 3 juurde. Nüüd on vaja muuta rohelist nuppu nii, et (a) see suunaks ülesande 1 juurde, (b) oleks punast värvi ja (c) nupu peale oleks ka kirjutatud Ülesanne 1.  Selleks: (a) tuleb minna faili "alaleht4.component.ts" ja reale 17 kirjutada "alaleht2" asemele "alaleht1"; (b) minna faili "alaleht4.component.html" ja reale 15 kirjutada "btn-success" asemel "btn-danger"; (c) failis "alaleht4.component.html" real 15 kirjutada "Ülesanne 2" asemel "Ülesanne 1".
  
</div>
</div>
<br>
  <button class="btn btn-success" (click)="onloadServer()">Ülesanne 2</button>

  <br><br>

  <div class="tekstike2b">
    <div class="tekstike2">
    Allpool sinise nupu juures tuleks sinine nupp muuta kollaseks. Selleks tuleb minna faili "alaleht4.component.html" ja rida 26 kirjutada "btn-primary" asemele "btn-warning".
    
  </div>
  </div>
<br>
  <button class="btn btn-primary" (click)="onloadServer2()">Ülesanne 3</button>
<!--btn-danger; btn-warning; btn-success; btn-primary-->


<br><br>
<div class="tekstike2b">
  <div class="tekstike2">
  Kui kõik ülaltoodud tehtud, siis tuleks minna edasi ülesandega 5, ehk siis vajutada nuppu "Ülesanne 5".
</div>
</div> 

<br>
<div class="infoasukoht">
  <div class="korrigeerimine">
    <alainfo4-component></alainfo4-component>
  </div>
  </div>