<br>
<div class="tekstike2b">
<div class="tekstike">
Töö akordioni muutmisega
<div class="infoasukoht">
  <div class="korrigeerimine">
    <alainfo3-component></alainfo3-component>
  </div>
  </div>
</div>
</div>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Allpool on kujutatud akordion. See on huvitav element, et kui vajutada vastavale alajaotusele (antud juhul küsimusele), siis avaneb vastav alajaotus ja saab teada vastuse. Üks alajaotus suletakse, kui avatakse järgmine (alajaotust saab sulgeda ka küsimusele vajutades).

</div>
</div>
<br>
<akordion></akordion>
<br>
<div class="tekstike2b">
  <div class="tekstike2">
    Ülaltoodud akordionis tuleks küsimus kolm asendada oma küsimusega ja ühtlasi anda omapoolne vastus. Selleks tuleb minna faili "akordion.component.ts" ja vaadata seal pisut ringi, suhteliselt kergelt leiab üles loogika, mida peaks muutma.
   
</div>
</div>

<br>
<div class="tekstike2b">
  <div class="tekstike2">
  Kui kõik ülaltoodud tehtud, siis tuleks minna edasi ülesandega 4, ehk siis vajutada nuppu "Ülesanne 4".
</div>
</div>


<br><br><br>